<%= image_tag @user.avatar.url(:thumb) %>
<span class="title">Posts by: <%= @user.first_name %> <%= @user.last_name %> <span class="separator">//</span> <span class="username_feed"><%= link_to( @user.username, user_path( @user )) %></span></span>
<p><%= @user.artist_statement %> <%= @user.location %> <%= @user.website %></p>

<div class="about_content">

<% @user.posts.each do |post| %>
<div class="post_content">
  <span class="title"><%= link_to(post.title, post_path(post))%></span>
  <span class="separator">//</span>  <span class="post_date"><%= post.date %></span>
</div>
<% if post.attachment.present? %>
<%= image_tag post.attachment.url(:medium) %>
<% end %>
<%= render partial: 'posts/embed', locals: { post: post } %>
<p><%= post.article %></p>

<hr class="hr_style">
<% end %>
</div>
