<ul>
  <% @post.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for(@post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :article %>
  <%= f.text_area :article %>
  <br>

  <%= f.label :date %>
  <%= f.date_select :date %>
  <br>

  <%= f.label :category %>
  <%= f.text_field :category %>
  <br>

  <%= f.label :attachment %>
  <%= f.file_field :attachment %>

  <%= f.submit %>

<% end %>
