<div class="post_info">
<%= link_to( post.title, post_path( post ))%>
<small><span class="separator">by </span> <span class="username_feed"><%= link_to( post.user.username, user_path( post.user )) %></span>  <span class="separator">//</span>  <span class="post_date"> <%= post.date %></span></small>
</div>

<div id="attachment" class="post_content">

<% if post.attachment.present? %>
<div class="containingBlock">
  <div class="embed_frame">
    <%= image_tag post.attachment.url(:medium) %>
</div>
</div>
<% end %><br>
<%= post.article %>
</div>
