<!DOCTYPE html>
<html>
<head>
  <title>Radiation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>Project 1</h1>
  <% if session[:current_user] %>
    <p>
      Welcome Back, <%= User.find(session[:current_user]).username %>! |
      <%= link_to('Log Out', logout_path) %>
    </p>
  <% end %>
  <nav>
    <%= link_to('Home', root_path) %> |
    <%= link_to('Contributors', users_path) %> |
    <%= link_to('Posts', posts_path) %>
    <% unless session[:current_user] %>
    | <%= link_to('Login', login_path) %>
    <% end %>
  </nav>
<%= yield %>

</body>
</html>
